body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
}

header {
    padding: 20px 0;
}

.card-deck{
    padding: 100px;
}
.card-deck .card {
    margin-bottom: 30px;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.btn-group .btn {
    margin: 5px;
}

.btn-group{
    display: flex;
    justify-content: center;
}

@media (max-width: 557px) {
    .card-deck {
        padding: 7px;
    }
} 
